* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1F4E79;
    padding: 15px 0;
    box-shadow: 0 0 5px rgba(33, 125, 211, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.logoLinkedin {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    width: 50x;
    height: 50px;
    object-fit: contain;

    transition: transform 0.3s ease, filter 0.3s ease;
}

.logoLinkedin:hover {
    transform: translateY(-50%) scale(1.15);

    filter: drop-shadow(0 0 5px rgba(255,255,255,0.8))
            drop-shadow(0 0 10px rgba(100,180,255,0.7));
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 5px 15px;

    transition: all 0.3s ease;
}

.navbar a:hover {
    background-color: #026ad8;
    color: #ffd900;
    transform: translateY(-3px);

    box-shadow:
        0 0 10px rgba(100, 180, 255, 0.8),
        0 0 20px rgba(100, 180, 255, 0.5);
}

.foto {
    display: block;
    margin: 100px auto 0;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    object-fit: cover;

    /* Transições suaves */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    /* Glow moderno */
    box-shadow:
        0 0 10px rgba(100, 180, 255, 0.8),
        0 0 20px rgba(100, 180, 255, 0.6),
        0 0 40px rgba(100, 180, 255, 0.4);
}

.foto:hover {
    transform: translateY(-6px) scale(1.03);

    /* Mantém o glow + adiciona profundidade */
    box-shadow:
        0 0 12px rgba(100, 180, 255, 0.9),
        0 0 25px rgba(100, 180, 255, 0.7),
        0 0 50px rgba(100, 180, 255, 0.5),
        0 12px 30px rgba(0, 0, 0, 0.25);
}
main {
    text-align: center;
    padding: 20px;
}

/* Importação da fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #fdf1f1;
}

.sobre-mim {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.sobre-mim h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fdf1f1;
}

.sobre-mim p {
    font-size: 20px;
    line-height: 1.0;
    margin-bottom: 20px;
    text-align: justify;
}

.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 100%;
    /* Ajuste a opacidade conforme necessário */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2e6599;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: 0.1px solid #000b79cf;
}