* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1F4E79;
    padding: 15px 0;
    box-shadow: 0 0 5px rgba(33, 125, 211, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 5px 15px;

    transition: all 0.3s ease;
}

.navbar a:hover {
    background-color: #026ad8;
    color: #ffd900;
    transform: translateY(-3px);

    box-shadow:
        0 0 10px rgba(100, 180, 255, 0.8),
        0 0 20px rgba(100, 180, 255, 0.5);
}
